.auth
    &-logo_container
        background: $green

        .block
            padding: 40px

    &-signup_btn, &-signin_btn
        margin-top: 20px

    .auth-form
        width: 400px

        .header
            margin-bottom: 10px
            margin-left: 15px

        .extra-link
            margin-top: 10px
            font-size: 12px

    &-error
        width: 95%
        left: 2.5%
        height: auto
        position: absolute
        background: #a51525d9
        text-align: center
        color: $white
        padding: 10px
        line-height: 1.4em
        transition: .2s
        top: -100%
        border-radius: 10px
        border: 1px solid $red

        &.error
            transition: .2s
            top: 5px
