.auth
    &-logo_container
        background: $green

        .block
            padding: 40px

    &-signin
        border-bottom: 1px solid $lightgray

    &-signup_btn
        margin-top: 20px

    .signup-wrapper
        width: 100%

        .header
            margin-bottom: 10px
            margin-left: 15px

        .signin-link
            margin-top: 10px
            font-size: 12px


    .signin-wrapper
        width: 100%
        padding: 10px

        .signin-logo
            height: 40px
            margin: 20px 0 10px 0

        .field
            padding: 5px 10px
            font-size: 12px

        .auth-signin_btn
            padding: auto 30px
            font-size: 12px

    &-error
        width: 100%
        height: auto
        position: absolute
        background: $red
        text-align: center
        color: $white
        padding: 10px
        line-height: 1.4em
        transition: .2s
        top: -100%

        &.error
            transition: .2s
            top: 0
